<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Hospital Management System</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <h2>Login</h2>

    {% if error %}
    <p style="color: red; text-align: center">{{ error }}</p>
    {% endif %}

    <form action="/login" method="POST">
      <label>Email</label>
      <input type="email" name="email" required />

      <label>Password</label>
      <input type="password" name="password" required />

      <button type="submit">Login</button>
    </form>

    <p class="link">
      <a href="/register_patient">Register as Patient</a>
    </p>
  </body>
</html>
